[submodule "tools"]
	path = tools
	url = git@github.com:martinunland/scanner_motor_control.git
[submodule "tools/scanner_motor_control"]
	path = tools/scanner_motor_control
	url = git@github.com:martinunland/scanner_motor_control.git
